pipeline/checkvmstatus_pipe.json
{
	"name": "checkvmstatus_pipe",
	"properties": {
		"activities": [
			{
				"name": "check_vm_status",
				"description": "activity checks for Vm status",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionId,'/resourceGroups/',pipeline().parameters.ResourceGroupName,'/providers/Microsoft.Compute/virtualMachines/',pipeline().parameters.VMName,'/InstanceView?api-version=2024-03-01')",
						"type": "Expression"
					},
					"authentication": {
						"resource": "https://management.azure.com/",
						"credential": {
							"referenceName": "crednew",
							"type": "CredentialReference"
						},
						"type": "UserAssignedManagedIdentity"
					}
				}
			},
			{
				"name": "output_variables",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "check_vm_status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "Vmstatus",
							"value": {
								"type": "Expression",
								"content": "@activity('check_vm_status').output.statuses[1].displayStatus"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"parameters": {
			"SubscriptionId": {
				"type": "string",
				"defaultValue": "a16f162e-e90e-4101-8d1d-89a715aa9104"
			},
			"ResourceGroupName": {
				"type": "string",
				"defaultValue": "snowteam2"
			},
			"Region": {
				"type": "string",
				"defaultValue": "eastus"
			},
			"VMName": {
				"type": "string",
				"defaultValue": "snowsample"
			}
		},
		"variables": {
			"status": {
				"type": "String"
			}
		},
		"annotations": []
	}
}