pipeline/vm_off_pipe.json
{
	"name": "vm_off_pipe",
	"properties": {
		"activities": [
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variableVmstatus",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('Vmstatus2'),'VM running')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "stopvmact",
							"type": "Custom",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"command": {
									"value": "python3 stopvm.py",
									"type": "Expression"
								},
								"resourceLinkedService": {
									"referenceName": "snowstorelink",
									"type": "LinkedServiceReference"
								},
								"folderPath": "code",
								"referenceObjects": {
									"linkedServices": [],
									"datasets": []
								}
							},
							"linkedServiceName": {
								"referenceName": "batchtoadfnew",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Execute checkvmstatus_pipe",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "checkvmstatus_pipe",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Set variableVmstatus",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute checkvmstatus_pipe",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Vmstatus2",
					"value": {
						"value": "@activity('Execute checkvmstatus_pipe').output.pipelineReturnValue.Vmstatus",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Vmstatus2": {
				"type": "String"
			}
		},
		"annotations": []
	}
}