templates/snowteamtemp/snowteamtemp.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"snowstorelink": {
			"type": "string"
		},
		"batchtoadfnew": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "check_vm_status",
						"description": "activity checks for Vm status",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"url": {
								"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionId,'/resourceGroups/',pipeline().parameters.ResourceGroupName,'/providers/Microsoft.Compute/virtualMachines/',pipeline().parameters.VMName,'/InstanceView?api-version=2024-03-01')",
								"type": "Expression"
							},
							"authentication": {
								"resource": "https://management.azure.com/",
								"credential": {
									"referenceName": "crednew",
									"type": "CredentialReference"
								},
								"type": "UserAssignedManagedIdentity"
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "check_vm_status",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('check_vm_status').output.statuses[1].displayStatus,'VM deallocated')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "runvmscriptact_2",
									"type": "Custom",
									"dependsOn": [
										{
											"activity": "checkpackages_2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"command": {
											"value": "python3 runscriptinvm.py",
											"type": "Expression"
										},
										"resourceLinkedService": {
											"referenceName": "[parameters('snowstorelink')]",
											"type": "LinkedServiceReference"
										},
										"folderPath": "code",
										"referenceObjects": {
											"linkedServices": [],
											"datasets": []
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('batchtoadfnew')]",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "stoptvmact_2",
									"type": "Custom",
									"dependsOn": [
										{
											"activity": "runvmscriptact_2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"command": {
											"value": "python3 stopvm.py",
											"type": "Expression"
										},
										"resourceLinkedService": {
											"referenceName": "[parameters('snowstorelink')]",
											"type": "LinkedServiceReference"
										},
										"folderPath": "code",
										"referenceObjects": {
											"linkedServices": [],
											"datasets": []
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('batchtoadfnew')]",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "checkpackages_2",
									"type": "Custom",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"command": {
											"value": "python3 checkscript.py",
											"type": "Expression"
										},
										"resourceLinkedService": {
											"referenceName": "[parameters('snowstorelink')]",
											"type": "LinkedServiceReference"
										},
										"folderPath": "code",
										"referenceObjects": {
											"linkedServices": [],
											"datasets": []
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('batchtoadfnew')]",
										"type": "LinkedServiceReference"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "startvmact",
									"type": "Custom",
									"dependsOn": [
										{
											"activity": "checkpackages",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"command": {
											"value": "python3 startvm.py",
											"type": "Expression"
										},
										"resourceLinkedService": {
											"referenceName": "[parameters('snowstorelink')]",
											"type": "LinkedServiceReference"
										},
										"folderPath": "code",
										"referenceObjects": {
											"linkedServices": [],
											"datasets": []
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('batchtoadfnew')]",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "runvmscriptact",
									"type": "Custom",
									"dependsOn": [
										{
											"activity": "startvmact",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"command": {
											"value": "python3 runscriptinvm.py",
											"type": "Expression"
										},
										"resourceLinkedService": {
											"referenceName": "[parameters('snowstorelink')]",
											"type": "LinkedServiceReference"
										},
										"folderPath": "code",
										"referenceObjects": {
											"linkedServices": [],
											"datasets": []
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('batchtoadfnew')]",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "stoptvmact",
									"type": "Custom",
									"state": "Inactive",
									"onInactiveMarkAs": "Succeeded",
									"dependsOn": [
										{
											"activity": "runvmscriptact",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"command": {
											"value": "python3 stopvm.py",
											"type": "Expression"
										},
										"resourceLinkedService": {
											"referenceName": "[parameters('snowstorelink')]",
											"type": "LinkedServiceReference"
										},
										"folderPath": "code",
										"referenceObjects": {
											"linkedServices": [],
											"datasets": []
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('batchtoadfnew')]",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "checkpackages",
									"type": "Custom",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"command": {
											"value": "python3 checkscript.py",
											"type": "Expression"
										},
										"resourceLinkedService": {
											"referenceName": "[parameters('snowstorelink')]",
											"type": "LinkedServiceReference"
										},
										"folderPath": "code",
										"referenceObjects": {
											"linkedServices": [],
											"datasets": []
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('batchtoadfnew')]",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"SubscriptionId": {
						"type": "string",
						"defaultValue": "a16f162e-e90e-4101-8d1d-89a715aa9104"
					},
					"ResourceGroupName": {
						"type": "string",
						"defaultValue": "snowteam2"
					},
					"Region": {
						"type": "string",
						"defaultValue": "eastus"
					},
					"VMName": {
						"type": "string",
						"defaultValue": "snowsample"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/credentials/crednew')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/crednew')]",
			"type": "Microsoft.DataFactory/factories/credentials",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {
					"resourceId": "/subscriptions/a16f162e-e90e-4101-8d1d-89a715aa9104/resourcegroups/snowteam2/providers/Microsoft.ManagedIdentity/userAssignedIdentities/snowteammsi"
				}
			},
			"dependsOn": []
		}
	]
}