snowadf1/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "snowadf1"
		},
		"batchtoadfnew_accessKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accessKey' of 'batchtoadfnew'"
		},
		"batchtoadfnew_properties_typeProperties_batchUri": {
			"type": "string",
			"defaultValue": "https://snowteambatchacc.eastus.batch.azure.com"
		},
		"batchtoadfnew_properties_typeProperties_poolName": {
			"type": "string",
			"defaultValue": "snowpool"
		},
		"batchtoadfnew_properties_typeProperties_accountName": {
			"type": "string",
			"defaultValue": "snowteambatchacc"
		},
		"snowstorelink_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://snowstore2.blob.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/checkvmstatus_pipe')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "check_vm_status",
						"description": "activity checks for Vm status",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": {
								"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionId,'/resourceGroups/',pipeline().parameters.ResourceGroupName,'/providers/Microsoft.Compute/virtualMachines/',pipeline().parameters.VMName,'/InstanceView?api-version=2024-03-01')",
								"type": "Expression"
							},
							"authentication": {
								"resource": "https://management.azure.com/",
								"credential": {
									"referenceName": "crednew",
									"type": "CredentialReference"
								},
								"type": "UserAssignedManagedIdentity"
							}
						}
					},
					{
						"name": "output_variables",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "check_vm_status",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "Vmstatus",
									"value": {
										"type": "Expression",
										"content": "@activity('check_vm_status').output.statuses[1].displayStatus"
									}
								}
							],
							"setSystemVariable": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SubscriptionId": {
						"type": "string",
						"defaultValue": "a16f162e-e90e-4101-8d1d-89a715aa9104"
					},
					"ResourceGroupName": {
						"type": "string",
						"defaultValue": "snowteam2"
					},
					"Region": {
						"type": "string",
						"defaultValue": "eastus"
					},
					"VMName": {
						"type": "string",
						"defaultValue": "snowsample"
					}
				},
				"variables": {
					"status": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/credentials/crednew')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/masterPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute vmonpipe",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "vm_on_pipe",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "runvmscriptact",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "Execute vmonpipe",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": {
								"value": "python3 runscriptinvm.py",
								"type": "Expression"
							},
							"resourceLinkedService": {
								"referenceName": "snowstorelink",
								"type": "LinkedServiceReference"
							},
							"folderPath": "code",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "batchtoadfnew",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Execute offvm_pipe",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "runvmscriptact",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "vm_off_pipe",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"Vmstatus": {
						"type": "String"
					},
					"status": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/vm_on_pipe')]",
				"[concat(variables('factoryId'), '/linkedServices/snowstorelink')]",
				"[concat(variables('factoryId'), '/linkedServices/batchtoadfnew')]",
				"[concat(variables('factoryId'), '/pipelines/vm_off_pipe')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/vm_off_pipe')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Set variableVmstatus",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('status'),'VM running')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "stopvmact",
									"type": "Custom",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"command": {
											"value": "python3 stopvm.py",
											"type": "Expression"
										},
										"resourceLinkedService": {
											"referenceName": "snowstorelink",
											"type": "LinkedServiceReference"
										},
										"folderPath": "code",
										"referenceObjects": {
											"linkedServices": [],
											"datasets": []
										}
									},
									"linkedServiceName": {
										"referenceName": "batchtoadfnew",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Execute checkvmstatus_pipe",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "checkvmstatus_pipe",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Set variableVmstatus",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Execute checkvmstatus_pipe",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "status",
							"value": {
								"value": "@activity('Execute checkvmstatus_pipe').output.pipelineReturnValue.status",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"status": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/checkvmstatus_pipe')]",
				"[concat(variables('factoryId'), '/linkedServices/snowstorelink')]",
				"[concat(variables('factoryId'), '/linkedServices/batchtoadfnew')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/vm_on_pipe')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "SetvariableVmstatus",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('Vmstatus'),'VM deallocated')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "startvmact",
									"type": "Custom",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"command": {
											"value": "python3 startvm.py",
											"type": "Expression"
										},
										"resourceLinkedService": {
											"referenceName": "snowstorelink",
											"type": "LinkedServiceReference"
										},
										"folderPath": "code",
										"referenceObjects": {
											"linkedServices": [],
											"datasets": []
										}
									},
									"linkedServiceName": {
										"referenceName": "batchtoadfnew",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Execute checkvmstatus_pipe",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "checkvmstatus_pipe",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SetvariableVmstatus",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Execute checkvmstatus_pipe",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Vmstatus",
							"value": {
								"value": "@activity('Execute checkvmstatus_pipe').output.pipeLineReturn.Vmstatus",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"Vmstatus": {
						"type": "String"
					},
					"status": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/checkvmstatus_pipe')]",
				"[concat(variables('factoryId'), '/linkedServices/snowstorelink')]",
				"[concat(variables('factoryId'), '/linkedServices/batchtoadfnew')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "snowstorelink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "config_json",
						"container": "snowstore"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Order ID",
						"type": "String"
					},
					{
						"name": "Customer Name",
						"type": "String"
					},
					{
						"name": "Mobile Model",
						"type": "String"
					},
					{
						"name": "Quantity",
						"type": "String"
					},
					{
						"name": "Price per Unit",
						"type": "String"
					},
					{
						"name": "Total Price",
						"type": "String"
					},
					{
						"name": "Promotion Code",
						"type": "String"
					},
					{
						"name": "Order Amount",
						"type": "String"
					},
					{
						"name": "GST",
						"type": "String"
					},
					{
						"name": "Order Date",
						"type": "String"
					},
					{
						"name": "Payment Status",
						"type": "String"
					},
					{
						"name": "Shipping Status",
						"type": "String"
					},
					{
						"name": "Payment Method",
						"type": "String"
					},
					{
						"name": "Payment Provider",
						"type": "String"
					},
					{
						"name": "Mobile",
						"type": "String"
					},
					{
						"name": "Delivery Address",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/snowstorelink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/batchtoadfnew')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBatch",
				"typeProperties": {
					"batchUri": "[parameters('batchtoadfnew_properties_typeProperties_batchUri')]",
					"poolName": "[parameters('batchtoadfnew_properties_typeProperties_poolName')]",
					"accountName": "[parameters('batchtoadfnew_properties_typeProperties_accountName')]",
					"linkedServiceName": {
						"referenceName": "snowstorelink",
						"type": "LinkedServiceReference"
					},
					"accessKey": {
						"type": "SecureString",
						"value": "[parameters('batchtoadfnew_accessKey')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/snowstorelink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/snowstorelink')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('snowstorelink_properties_typeProperties_serviceEndpoint')]",
					"accountKind": "StorageV2",
					"credential": {
						"referenceName": "crednew",
						"type": "CredentialReference"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/credentials/crednew')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/crednew')]",
			"type": "Microsoft.DataFactory/factories/credentials",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {
					"resourceId": "/subscriptions/a16f162e-e90e-4101-8d1d-89a715aa9104/resourcegroups/snowteam2/providers/Microsoft.ManagedIdentity/userAssignedIdentities/snowteammsi"
				}
			},
			"dependsOn": []
		}
	]
}